.backdrop\[1px\] { backdrop-filter: blur(1px); }
.backdrop\[2px\] { backdrop-filter: blur(2px); }
.backdrop\[3px\] { backdrop-filter: blur(3px); }
.backdrop\[4px\] { backdrop-filter: blur(4px); }
.backdrop\[5px\] { backdrop-filter: blur(5px); }
.backdrop\[6px\] { backdrop-filter: blur(6px); }
.backdrop\[7px\] { backdrop-filter: blur(7px); }
.backdrop\[8px\] { backdrop-filter: blur(8px); }
.backdrop\[9px\] { backdrop-filter: blur(9px); }
.backdrop\[10px\] { backdrop-filter: blur(10px); }
.backdrop\[20px\] { backdrop-filter: blur(20px); }
.backdrop\[30px\] { backdrop-filter: blur(30px); }
.backdrop\[40px\] { backdrop-filter: blur(40px); }
.backdrop\[50px\] { backdrop-filter: blur(50px); }
.backdrop\[60px\] { backdrop-filter: blur(60px); }
.backdrop\[70px\] { backdrop-filter: blur(70px); }
.backdrop\[80px\] { backdrop-filter: blur(80px); }
.backdrop\[90px\] { backdrop-filter: blur(90px); }
.backdrop\[100px\] { backdrop-filter: blur(100px); }